@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #EFB451;
  --color-dark-orange:#F79C29;
  --animate-trail-fade: trailFade 1s forwards ease-out;

  @keyframes trailFade {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.6);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  --animate-bounce-x: bounce-x 1.5s ease-in-out infinite;
  @keyframes bounce-x {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(35%);
    }
  }
}
