@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #EDBC5A;
  --color-dark-orange: #F79C29;
  --animate-trail-fade: trailFade 1s forwards ease-out;
}
body {
  background-color: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.text-dark-orange { color: var(--color-dark-orange); }
  @keyframes trailFade {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.6);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

