@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #EDBC5A;
  --color-dark-orange: #F79C29;
  --color-gray: #9ca3af;
  --animate-trail-fade: trailFade 1s forwards ease-out;
}
html, body {
  background-color: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: clip;
  width: 100%;
  position: relative;
}
.container{
  max-width: 1720px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}
.text-dark-orange { color: var(--color-dark-orange); }
  @keyframes trailFade {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.6);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }


@theme {
  --animate-bounce-x: bounce-x 2s ease-in-out infinite;
  @keyframes bounce-x {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(35%);
    }
  }

  --animate-bounce-up-right: bounce-up-right 1.5s ease-in-out infinite;
  @keyframes bounce-up-right {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(25%, -25%);
    }
  }

  --animate-card-bounce: card-bounce 2s ease-in-out infinite;
  @keyframes card-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
